.home{
    color: white;
    font-size:60px;
    margin-top: 200px;
}
.home-btn{
    background: linear-gradient(white,rgb(0, 0, 0),white);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    border-color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 80px;
    padding: 20px 30px 20px 30px;
    font-weight: bold;
}
.button {
    border-radius: 4px;
    background: linear-gradient(rgb(219, 166, 20),rgb(0, 0, 0),rgb(219, 166, 20));
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }